@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    
    text-align: center;
    background-color: black;
    color: rgb(245, 229, 7);
    font-family:font-family "Roboto", sans-serif; 
    
}
hr.solid{
    border: 0;
    height: 3px;
    background: #edc531;
}
.links{
    background-color: #fcfcfc;
    display:flex;
    width: 60%;
    justify-content:flex-end;
    flex-direction: column;
    gap:20px;
    padding:60px;
     margin-top:180px;
    border-radius: 30px;
    background-image: linear-gradient(80deg,rgb(247, 187, 22), rgb(207, 193, 62));
     
    
}
.box{
    display:flex;
    justify-content:flex-end;
    
    
}
.links a{
    font-family:roboto;
    color: #ffffff;
    text-decoration:none;
    font-weight: 500;
    background-color: #472d30c7;
    border-radius: 10px;
    padding:10px;
    
}
.container{
    display:flex;
    justify-content: center;
    width: 100%;
}
h2{
    color: #edc531;
    font-family:font-family "Roboto", sans-serif; 
    

}
